.message-not-signed-in {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
mat-card {
  margin-top: 1rem;
}

.insights-heading {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 2rem;
}
