<div class="post-page" *ngIf="post">
  <div class="post-author">
    <p>author: {{ post.userId }}</p>
  </div>
  <div class="post-title">
    <h3>{{ post.title }}</h3>
  </div>
  <div class="post-body">
    <p>{{ post.body }}</p>
  </div>

  <div class="post-actions" *ngIf="isLoggedIn$ | async">
    <div class="btn-container">
      <button mat-icon-button aria-label="Like" (click)="likePost(post.id)">
        <mat-icon>favorite</mat-icon>
      </button>

      <label> {{ post.likesLength }} </label>
   
    <!-- Close Button -->
    <button class="action-btn" mat-button (click)="closePost()">
        Close
    </button>
     </div>
  </div>
</div>
