
.dashboard-items-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  padding-bottom: 60px;

  .dashboard__item {
    flex: 0 0 33.33%;

    @media (max-width: 1023px) {
      flex: 0 0 50%;
    }
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  /* Responsive design for mobile */
  @media (max-width: 600px) {
    flex-direction: column; 
    align-items: center;
    gap: 1rem; 
    margin-top: 10px; 
  }
}

.dashboard-items-wrapper > div {
  flex: 1; 
  max-width: 80%; 
}
