<nav class="navbar">
  <div class="navbar-logo">
    <!-- Uncomment and use your logo if needed -->
    <!-- <img src="assets/logo.png" alt="My App Logo" /> -->
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
  <div class="navbar-actions">
    <div *ngIf="isLoggedIn$ | async; else notLoggedIn">
      <p>Welcome, you are logged in!</p>
      <button class="btn signup-btn" (click)="logout()">Sign Out</button>
    </div>
  </div>
</nav>

<ng-template #notLoggedIn>
  <button class="btn login-btn" routerLink="/login">Log In</button>
  <button class="btn signup-btn" routerLink="/signup">Sign Up</button>
</ng-template>
