<div class="recipes-heading" *ngIf="isLoggedIn$ | async; else isAbleToCreate">
  <button mat-fab extended (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Create post
  </button>
</div>
<div class="posts-list-content">
  <div *ngFor="let post of postsResponse" class="post-card">
    <app-post [post]="post"></app-post>
  </div>

  <ng-template #isAbleToCreate>
    <mat-card>
      <div class="message-not-signed-in">
        Please sign-in first in order to create a post.
      </div>
    </mat-card>
  </ng-template>
</div>
