/* General Styles */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 4rem;

  //   background-color: #f8f8f8; /* Light gray background */
  //   min-height: 82vh; /* Ensure the container takes up full viewport height */
  //   flex: 1; /* Allow it to grow and take available space */
}

/* Picture Section */
.picture-section {
  background: url("../../../images/about-img.jpg") no-repeat;
  background-size: cover;
  border-radius: 100%;

  width: 5rem;
  height: 5rem;
}

.about-picture {
  width: 100%;
  max-width: 600px; /* Limit the size of the picture */
  height: auto;
  border-radius: 8px; /* Optional: add rounded corners */
}

/* About Us Section */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex: 1; /* Allow this section to grow */
  padding: 3rem;
  background-color: #fdeff5; /* Light pink background like contact us */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  border-radius: 8px;
}

.about-section h1 {
  font-size: 2rem;
  color: #b52b46; /* Dark pink */
  margin-bottom: 15px;
}
.about-section h3 {
  font-size: 1rem;
  color: #b52b46;
  margin-bottom: 15px;
}

.about-section p {
  font-size: 1.1rem;
  color: #4a4a4a; /* Soft gray */
  max-width: 800px;
  margin: 0 auto;
}

/* Footer Section */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8c8dc; /* Light pink background */
  padding: 10px 20px;
  color: #4a4a4a;
  font-family: "Arial", sans-serif;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%; /* Ensure it spans the full width */
}

.footer p {
  margin: 0;
}
