.sign-up-btn button{
  margin-top: 20px;
  width: 100%; 
  
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #fdeff5; 
  }
  
  /* Card styling for the sign-up form */
  .login-card {
    background-color: #f7d8e2; 
    border: 1px solid #e3b9c5; 
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 48px;
    width: 350px; 
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #4a4a4a; 
  }
  
  /* Title styling */
  .login-card h1 {
    font-size: 1.8em;
    color: #b52b46; 
    margin-bottom: 20px;
  }
  
  
  /* Horizontal line */
  hr {
    border: none;
    border-top: 1px solid #e5d1d5;
    margin: 20px 0;
  }
  
  /* Login link section */
  .login-link {
    font-size: 0.9em;
  }
  
  .login-link p {
    margin: 0;
    color: #5e4a50; 
  }
  
  .login-link a {
    color: #d17399; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .login-link a:hover {
    color: #b52b46; 
  }
 