<div class="login-container">
    <div class="login-card">
      <h1>Sign Up</h1>

      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="signup-group">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" id="email" placeholder="Enter your email" />
      </div>
      <div class="signup-group">
        <label for="password">Password:</label>
        <input formControlName="password" type="password" id="password" placeholder="Enter your password" />
      </div>
      <div class="signup-group">
        <label for="confirm-password">Confirm Password:</label>
        <input
        formControlName="confirmPassword"
          type="password"
          id="confirm-password"
          placeholder="Confirm your password"
        />
      </div>
    
      <div class="sign-up-btn">
        <button type="submit" [disabled]="!signUpForm.valid">Sign up</button>
      </div>
    </form>

      <hr />
      <div class="signup-link">
        <p>Already have an account?</p>
        <a routerLink="/login">Log In</a>
      </div>
    </div>
  </div>
  