<div class="modal-form">
  <h2 mat-dialog-title class="title-modal">Create post</h2>
  <mat-dialog-content class="mat-typography"> </mat-dialog-content>

  <form [formGroup]="myForm" class="example-form" (ngSubmit)="createPost()">
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="What's your title?" />
      <mat-error *ngIf="myForm.get('title')?.hasError('required')">
        You must add a title.
      </mat-error>
      <mat-error *ngIf="myForm.get('title')?.hasError('minlength')">
        Title must be at least 5 characters.
      </mat-error>
      <mat-error *ngIf="myForm.get('title')?.hasError('maxlength')">
        Title can be max 40 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="body" placeholder="What's your experience..."></textarea>
      <mat-error *ngIf="myForm.get('body')?.hasError('required')">
        There must be a description text.
      </mat-error>
      <mat-error *ngIf="myForm.get('body')?.hasError('minlength')">
        Body must be at least 10 characters.
      </mat-error>
      <mat-error *ngIf="myForm.get('body')?.hasError('maxlength')">
        Body can be max 300 characters.
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        type="submit"
        mat-button
        [disabled]="myForm.invalid"
        [mat-dialog-close]="true"
      >
        Post
      </button>
    </mat-dialog-actions>
  </form>
</div>
