.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7d8e2;
  border: 1px solid #e3b9c5;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 48px;
  width: 447px;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #4a4a4a;
}

.title-modal {
  font-size: 1.8em;
  color: #b52b46;
  margin-bottom: 20px;
}

.example-form {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 430px;
}